<header>
 
<div id="intro" class="bg-image">
    
    <h1 class="banner text-center vh-50 pt-2">Welcome to The Grade Gatsby</h1>
<div class="container justify-content-center select-input d-flex align-items-center text-center h-50">
    <div class="row justify-content-evenly align-items-center">
        <div class="col-sm-6 col-md-4 col-lg-5">
            <div class="card border border-5 border-success bg-transparent text-dark">
        <div class="card-body text-center" style="--bs-bg-transparent;">
            <a class="teacher-select lh-sm " href="/login-teacher">I am a teacher</a>
        </div>
        </div>
        </div>
<div class="col-lg-1"></div>

<div class="col-sm-6 col-md-4 col-lg-5">
            <div class="card bg-light border border-5 border-success bg-transparent text-dark">
        <div class="card-body text-center">
            <a class="student-select lh-sm" href="/login">I am a student</a>
        </div>
        </div>
        <div class="col-6">
            <div class="card bg-light border border-5 border-success bg-transparent text-dark">
                <div class="card-body text-center">
                    <a class="student-select lh-sm" href="/login">I am a student</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>
</div>
</header>

<nav class="navbar navbar-expand-lg sticky-bottom">
    <a class="navbar-brand footer text-light" href="/">Privacy Policy</a>
</nav>
