
<div id="intro" class="bg-image">
  <h1 class="banner text-center pt-2">Welcome Student!</h1>
  <br>
  <h3 class="banner-md text-center vh-25 pt-2">Login or Sign Up Below</h3>     
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row pt-5 justify-content-center w-100">        
    <div class="col-sm-12 col-md-6 col-lg-5 mb-4">
      <div class="card text-light fw-bold bg-transparent text-secondary border rounded border-5 border-success">
        <div class="card-body">
        <div class="card-header">Please login below</div>
        <form action="/" method="post" role="form">    
          <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="Check1">
            <label class="form-check-label" for="Check1">Remember me</label>
          </div>
          <button type="submit" class="btn btn-success" href="/">Submit</button>
        </form>
        </div>
      </div>
    </div> 

    {{!-- <div class="col-lg-1"></div> --}}

    <div class="col-sm-12 col-md-6 col-lg-5">
      <div class="card bg-transparent text-light fw-bold text-secondary border rounded border-5 border-success">
      <div class="card-body">
        <div class="card-header">Please sign up below</div>
        <form action="/" method="post" role="form">
          <div>
            <label for="name" class="form-name">Name</label>
            <input type="text" class="form-control" id="form-name">
          </div>
          <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Create password</label>
            <input type="password" class="form-control" id="InputPassword">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="Check1">
            <label class="form-check-label" for="Check1">Remember me</label>
          </div>
          <button type="submit" class="btn btn-success" href="/">Submit</button>
        </form>
      </div>
      </div>
    </div> 
    </div>
  </div>
</div>