<header>
    <div id="intro" class="bg-image">
    <h1 class="banner text-center vh-50 pt-2">Your Grades</h1>  
    </div>
</header>

    <div>
      <p class="student-info text-light">Student Name: {{Student}} <br> Student ID:{{Student.id}}</p>
      
    </div>
      

     <table id="table table-sm mx-auto" class="table text-light">
    <thead class="align-items-center">
      <tr class="align-items-center">
        <th scope="col" data-field="id" data-sortable="true" data-align="center">Classes</th>
        <th scope="col" data-field="subject" data-editable="false"></th>
        <th scope="col" data-field="subject" data-editable="false"></th>
        <th scope="col" data-field="subject" data-editable="false"></th>
        <th scope="col" data-field="name" data-editable="false"></th>
        <th scope="col" data-field="name" data-editable="false"></th>
      </tr>
      </thead>

      <tbody>
      <tr>
          <th scope="row" data-align="center"></th>
          <td data-field="math-grade" data-sortable="true" data-align="center">B+</td>
           <td data-field="science-grade" data-sortable="true" data-align="center">B+</td>
            <td data-field="spanish-grade" data-sortable="true" data-align="center">B+</td>
             <td data-field="geography-grade" data-sortable="true" data-align="center">B+</td>
              <td data-field="english-grade" data-sortable="true" data-align="center">B+</td>
      </tr>
    </tbody>
  </table>

  


 <div class="navbar navbar-expand-lg sticky-bottom">
        <a class="navbar-brand footer text-light" href="/">Privacy Policy</a>
    </div>

{{!-- <script>
  var $table = $('#table')   --}}



  