<header>
  <div id="intro" class="bg-image">
    <h1 class="banner text-center vh-50 pt-2">Your Grades</h1>
  </div>
</header>

<div id="table container" class="text-center">
    <table class="table text-light">
        <thead class="align-items-center">
            <tr class="align-items-center">
                <th class="subject-headers" scope="row"></th>
                <th class="subject-headers" scope="col" data-field="subject">Math</th>
                <th class="subject-headers" scope="col" data-field="subject">Science</th>
                <th class="subject-headers" scope="col" data-field="subject">Music</th>
                <th class="subject-headers" scope="col" data-field="subject">Gym</th>
                <th class="subject-headers" scope="col" data-field="subject">English</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr class="align-items-center">
                <th scope="row" class="student-name subject-headers">{{parsedStudentData.name}}</thead>
                {{#each parsedStudentData.grades as |grade|}}
                <td id="grades" data-grade={{id}}>{{grade.grade}}</td>
                {{/each}}
            </tr>
    </tbody>
  </table>
</div>
