<header>
    <div id="intro" class="bg-image">
        <h1 class="banner text-center vh-50 pt-2">Your Students</h1>
        <table id="table" class="teacher-table"></table>
    </div>
</header>
<nav class="navbar navbar-expand-lg sticky-bottom">
    <a class="navbar-brand footer text-light" href="/">Privacy Policy</a>
</nav>