<header>
    <div id="intro" class="bg-image">
        <h1 class="banner text-center vh-50 pt-2">Your Students</h1>
    </div>
</header>

<div id="table" class="table-ediatable table-sm mx-auto">
         
            <table class="table text-light">
                <thead class="align-items-center">
                    <tr class="align-items-center">
                        <th scope="col" contenteditable="true">Student Name</th>
                        <th scope="col" data-field="subject" contenteditable="true">Math</th>
                        <th scope="col" data-field="subject" contenteditable="true">Science</th>
                        <th scope="col" data-field="subject" contenteditable="true">Spanish</th>
                        <th scope="col" data-field="subject" contenteditable="true">Geography</th>
                        <th scope="col" data-field="subject" contenteditable="true">English</th>
                        <th> <span class="table-add table-responsive"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/></svg></span></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="align-items-center">
                        <th scope="row" class="student-name" contenteditable="true">Brittany</th>
                        <td contenteditable="true">A</td>
                        <td contenteditable="true">C</td>
                        <td contenteditable="true">A</td>
                        <td contenteditable="true">B</td>
                        <td contenteditable="true">B-</td>
                        <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="table-remove bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg></td>
                    </tr>

                     <tr class="hide align-items-center">
                        <th scope="row" class="student-name" contenteditable="true">New Student</th>
                        <td contenteditable="true">grade</td>
                        <td contenteditable="true">grade</td>
                        <td contenteditable="true">grade</td>
                        <td contenteditable="true">grade</td>
                        <td contenteditable="true">grade</td>
                        <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="table-remove bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg></td>
                    </tr>
    </tbody>
  </table>



       
        
    </div>
    <button id="save-btn" class="btn btn-primary">Save</button>
    <p id="save"></p>


