
        <tr class="d-flex flex-column table-titles">
            <td class="text-white table-info">Name</td>
            <td class="text-white table-info">Math</td>
            <td class="text-white table-info">Science</td>
            <td class="text-white table-info">Spanish</td>
            <td class="text-white table-info">Geography</td>
            <td class="text-white table-info">English</td>
            <td class="text-white table-info"></td>
            <td class="text-white table-info"></td>
        </tr>
        <div class="table-wrapper w-100 d-flex"></div>
<table>
    <tbody class="d-flex">
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Bartholomew</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Colin</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Jeff</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr class="d-flex flex-column table-data">
            <td>Brittany</td>
            <td contenteditable="">A</td>
            <td contenteditable="">B</td>
            <td contenteditable="">C</td>
            <td contenteditable="">A-</td>
            <td contenteditable="">B+</td>
            <td><button class="btn btn-primary btn-sm">Save</button></td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
</div>