html {
    padding-bottom: 4rem;
}
.banner {
    /* background: url("/public/assets/images/smear-blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: 15vh; */
    font-family: 'chalkboy';
    color: #fff;
    font-size: 7rem;
    }
@media only screen and (max-width: 645px) {
    .banner {
        font-size: 3rem;
        margin-bottom: 0!important;
    }
    .banner-md {
        font-size: 2rem!important;
        margin: 0;
    }
    .teacher-select, .student-select {
        font-size: 2rem!important;
    }
}
.banner-md {
    font-family: 'chalkboy';
    color: #fff;
    font-size: 4rem;
}

    body {
        background-image: url("/public/assets/images/smear-blackboard.jpg");
        overflow: auto;
        overscroll-behavior: none;
        min-height: 100vh;
        background-size: cover;
        background-attachment: fixed;
    }
    
/* html  {
    background: url("/public/assets/images/smear-blackboard.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

} */

.notebook {
    background: url("/public/assets/images/lined-book.png");

}

@font-face {
    font-family: 'chalkboy';
    src: url('/public/assets/fonts/Chalkboy.woff2');
}


.teacher-select {
    font-family: 'chalkboy';
    font-size: 6rem;
    text-decoration: none;
    color: #fff;
}

.teacher-select:hover {
    color: green;
}

.student-select {
    font-family: 'chalkboy';
    font-size: 6rem;
    text-decoration: none;
    color: #fff;
}

.student-select:hover {
    color: green;
}

#table {
    width:75%;
    
}

.table-editable {
    position: relative;
}

.footer {
    color:#fff;
}