html {
    padding-bottom: 4rem;
}
.banner {
    font-family: 'chalkboy';
    color: #fff;
    font-size: 7rem;
    }

@media only screen and (max-width: 645px) {
    .banner {
        font-size: 3rem;
        margin-bottom: 0!important;
    }

    .banner-md {
        font-size: 2rem!important;
        margin: 0;
    }
    
    .teacher-select, .student-select {
        font-size: 2rem!important;
    }
}
.hide {
    display: none
}

.banner-md {
    font-family: 'chalkboy';
    color: #fff;
    font-size: 4rem;
}

body {
    background-image: url("/assets/images/smear-blackboard.jpg");
    overflow: auto;
    overscroll-behavior: none;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.log-out {
   margin-bottom: 0;
}
.log-out:hover {
   cursor: pointer;
}

@font-face {
    font-family: 'chalkboy';
    src: url('/assets/fonts/Chalkboy.woff2');
}



.teacher-select {
    font-family: 'chalkboy';
    font-size: 6rem;
    text-decoration: none;
    color: #fff;
}

.teacher-select:hover {
    color: green;
}

.student-select {
    font-family: 'chalkboy';
    font-size: 6rem;
    text-decoration: none;
    color: #fff;
}

.student-select:hover {
    color: green;
}

/* styles for table */
.container {
    width: 95%;   
}

.teach-tbody {
    border-top-color: green;
}
@media only screen and (max-width: 420px) {
    header {
        padding-bottom: 30px;
    }
    .subject-headers {
        writing-mode: vertical-rl;
        transform: rotate(220deg);
        font-size: .70rem;
        text-align: left;
        max-height: 100px;
        text-overflow: ellipsis;
        white-space: normal;
        padding: 0px;
    }
    .table {
        padding-top: 25px;    
    }

}
    .table:hover tbody tr:hover th {
        background-color: #fff;
        color: green;
    }

    .table:hover tbody tr:hover td {
        background-color: #fff;
        color: green;
    }

.ed-news {
    font-family: 'chalkboy';
    font-size: 4rem;
    text-decoration: none;
    color: #fff;

}

/* ARTICLES IN TEACHER DASHBOARD */
article {
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: rgb(61,61,61);
    margin-bottom: 1rem;
}
.article-flex {
    flex-direction: column;
}

article p {
    width: 50%
}
article .title {
    padding-top: 1rem;
    width: 80%;
}
.article-image {
    width: 90%;
    height: 100%;
    margin: 0!important;
}
article .description {
    width: 90%;
    margin: 1rem!important;
    font-size: 0.8rem;
}
@media only screen and (min-width: 860px) {
    article {
        width: 50%;
        align-items: baseline;
    }
    article .title {
        margin-left: 1rem;
    }
    .article-flex {
        flex-direction: row;
    }
    .article-image {
        align-self: flex-start;
        width: 35%
    }
    article .description {
        align-self: flex-start;
        width: 60%;
        margin: 0 0 1rem 1rem!important;
    }
}