.header {
    background: url("/public/assets/images/eyes.jpg"), rgb(57, 51, 51);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-blend-mode: multiply;
}

